body{
    font-size: 30px;
    background-color: lightgray;
}

body>div {
    margin: 50px;
}

.concluido {
    text-decoration: line-through;
}

.urgente {
    font-weight: bold; color: red;
}

.icone {
    display: none;
}

ul {
    list-style: none;
}

.card {
    padding: 10px;
}

.button-align {
    margin: 4px
}

#listaTarefas{
    padding: 10px;
}

.centralizar-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}